@page
@System.Globalization.CultureInfo.CurrentUICulture
@using ProductsSite.Pages.Wishlist.Data
@model ProductsSite.ProductIndexModel
@inject IProductsRepository _productsRepository
@* <link rel="stylesheet" href="/css/productsBox.css" asp-append-version="true">  *@
<script src="/css/1.js" asp-append-version="true"></script>
<script>
function toggleWish(el) {
    console.log(el);
    var id = el.dataset.productId;
axios({
  method: 'post',
  url: '/wishlist/wishlist?handler=add',
  data: {
    id: id
  }
});
}
</script>
@inject UserManager<SiteUsers> _manager
@{
    ViewData["Title"] = "Index";
    var dbContext = Model.Context;
    var userId = "";
    if (User.Identity.IsAuthenticated)
        userId = (await _manager.FindByNameAsync(User.Identity!.Name))?.Id;
    
}

<h1>Index</h1>
@if (User.Identity?.IsAuthenticated ?? false)
{
    <p>
        <a asp-page="/Products/ProductCreate">Create New</a>
    </p>
}

<div class="row">
    <div class="col-md-3">
        <div>bcvbcvb</div>
    </div>
    <div class="col-md-9">
        <div >
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                    @foreach (var item in Model.Product)
                    {
                        var isInWish = dbContext.Set<WishlistRecord>()
                            .Any(x => x.ProductId == item.Id && x.UserId == userId);
                        var priceOut = ((decimal)item.Price / 100.0m).ToString("0.00");
                        <div class="@(isInWish? "in-wish":"")" data-product-id="@item.Id">
                        <div class="card mb-3">
                            <div class="card-picture">
                                <img class="img-fluid" src="@_productsRepository.GetPic(item)" alt="Card image cap">
                                <div class="functional-buttons clearfix">
                                    <div class="wishlist">
                                        <i class="bi bi-heart"
                                           onclick="window.test1(this);"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <a asp-page="/Products/ProductDetails" asp-route-id="@item.Id">@item.ProductName</a>
                                </div>
                                <div class="text-center">
                                    <p class="card-text">@priceOut ₽</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
            @*var priceOut = ((decimal)item.Price / 100.0m).ToString("0.00");
            <div class="product-box">
                <div class="product-inner">
                    <div class="product-wrap">
                        <div class="pic">
                            <img src="@_productsRepository.GetPic(item)"/>
                        </div>
                        <div class="actions">
                            <a asp-page="/Products/ProductEdit" asp-route-id="@item.Id">Edit</a>
                            <a asp-page="/Products/ProductDetails" asp-route-id="@item.Id">Details</a>
                            <a asp-page="/Products/ProductDelete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3 class="product-title">
                            <a href="">@item.ProductName</a>
                        </h3>
                        <span class="price">@priceOut ₽</span>
                    </div>
                </div>
            </div>*@
                </div>
                    }
            </div>
        </div>

    </div>
</div>